	<div id="content" class="services site-content" role="main">
	<article id="" class="">
	<header class="entry-header">
		<h1 class="entry-title">What We Can Do For You.</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
	<p>We love everything web and graphic. Our ability to provide awesome graphic design comes from over ten years experience in the field and our ability to code comes from a deep rooted passion for making visions come to life. We also provide content writing and ad campaigns to benefit your online goals based on SEO optimizations and analytics.</p>
	
		<div class="services">
<div class="design">
<div class="services-img"></div>
<div class="services-content">
<h4>DESIGN</h4>
<ul class="services-first">
<li>User experience (UX)</li>
<li>Logo</li>
<li>Web design</li>
<li>Mobile design</li>
<li>Branding</li>
</ul>
<ul class="services-second">
<li>Graphic design</li>
<li>Ad banner</li>
<li>Flash animation</li>
<li>Business cards</li>
<li>Photo editing</li>
</ul>
</div>
</div>
<div class="develop">
<div class="services-img"></div>
<div class="services-content">
<h4>DEVELOP</h4>
<ul class="services-first">
<li>HTML5</li>
<li>CSS3</li>
<li>Responsive design</li>
<li>JavaScript</li>
<li>jQuery</li>
</ul>
<ul class="services-second">
<li>PHP</li>
<li>CMS</li>
<li>E-commerce</li>
<li>Social apps</li>
<li>WordPress</li>
</ul>
</div>
</div>
<div class="maintain">
<div class="services-img"></div>
<div class="services-content">
<h4>MAINTAIN</h4>
<ul class="services-first">
<li>Hosting</li>
<li>SEO</li>
<li>Social media</li>
<li>Marketing campaign</li>
<li>Content writing</li>
</ul>
<ul class="services-second">
<li>Website updates</li>
<li>Online advertising</li>
</ul>
</div>
</div>
</div>
</div>


		
	</div><!-- .entry-content -->
</article>
</div>
</div>
