<div id="content" class="front-page site-content" role="main">
				
				<article id="" class="">
					<header class="entry-header">	
   						<h1 class="entry-title">Launch Your Business Into Orbit</h1>
   					</header>
   					<div class="entry-content">
    					<div class="hero-unit">
        		    <div id="myCarousel" class="carousel slide">
                    <img id="carousel-frame" src="/images/slideshow_bg.png">
            
            <!-- Carousel items -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
            <div class="carousel-inner">
            <div class="active item"><img alt="" src="/images/slideshow/homepage.jpg"></div>
            <div class="item"><img alt="" src="/images/slideshow/homepage.jpg"></div>
            <div class="item"><img alt="" src="/images/slideshow/homepage.jpg"></div>
            </div>
            <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>

            <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
        </div><!-- .hero-unit -->
    </div>
	</div>
</article>
</div>
</div>

<div id="secondary" class="front widget-area" role="complementary">
		<h1>How we work</h1>
			<aside id="" class="widget thumbnails">
				<div class="thumbnail">
					<div class="thumbnail-img-title">
				    <div class="plan thumbnail-img"></div>
				    <h3 class="widget-title">Plan</h3>
				    </div>
				    <p>We meet with you to discuss details and project requirements while evaluating what skills and tools are needed to achieve your goals.</p>
				 </div>
			</aside>

			<aside id="" class="widget thumbnails">
				<div class="thumbnail">
					<div class="thumbnail-img-title">
				     <div class="prototype thumbnail-img"></div>
				    <h3 class="widget-title">Prototype</h3>
				    </div>
				    <p>We create custom mockups to meet your brand and style. Designs are finalized by your approval.</p>
				 </div>
			</aside>

			<aside id="" class="widget thumbnails">
				<div class="thumbnail">
					<div class="thumbnail-img-title">
				     <div class="create thumbnail-img"></div>
				    <h3 class="widget-title">Create</h3>
				    </div>
				    <p>We use the latest industry standards while paying close attention to detail and bring your project to life.</p>
				 </div>
			</aside>

			<aside id="" class="widget thumbnails">
				<div class="thumbnail">
					<div class="thumbnail-img-title">
				     <div class="test thumbnail-img"></div>
				    <h3 class="widget-title">Test</h3>
				    </div>
				    <p>We iron out any loose ends to ensure optimal quality assurance of the final product.</p>
				 </div>
			</aside>

			<aside id="" class="widget thumbnails">
				<div class="thumbnail">
					<div class="thumbnail-img-title">
				     <div class="release thumbnail-img"></div>
				    <h3 class="widget-title">Release</h3>
				    </div>
				    <p>The most exciting part, the project is launched and is live for the whole world to enjoy! We stay with you for customer support.</p>
				 </div>
			</aside>
		
	</div><!-- #secondary -->
 </div><!-- #main -->