<div id="content" class="sidebar blog site-content" role="main">
		<article id="post" class="post category-uncategorized">
		<div class="img-wrap">
			<img src="holder.js/325x225">
		</div>
		<header class="entry-header">
			<h1 class="blog-title">
				<a href="" title="Permalink to Test Two" rel="bookmark">Test Two</a>
			</h1>
			<p class="entry-meta">
				Posted by <a class="brand" href="#">mchavezi</a>
				<span class="blog-meta-spacing">Wednesday, January 23, 2013</span>
			</p>
		<div class="comments-link">
			<a href="" title="Comment on Test Two">1 Reply</a>				
		</div><!-- .comments-link -->
		</header><!-- .entry-header -->

	<div class="entry-content">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem nibh, viverra malesuada consectetur vitae, aliquam at risus. Etiam vel nibh lacus, et lacinia libero. Donec lectus...</p>
	</div><!-- .entry-content -->
		
	</article><!-- #post -->

<div class="blog-dotted-line"></div>
<div class="blog-dotted-line"></div>

<article id="post" class="post category-uncategorized">
		<div class="img-wrap">
			<img src="holder.js/325x225">
		</div>
		<header class="entry-header">
			<h1 class="blog-title">
				<a href="" title="Permalink to Test Two" rel="bookmark">Test Two</a>
			</h1>
			<p class="entry-meta">
				Posted by <a class="brand" href="#">mchavezi</a>
				<span class="blog-meta-spacing">Wednesday, January 23, 2013</span>
			</p>
		<div class="comments-link">
			<a href="" title="Comment on Test Two">1 Reply</a>				
		</div><!-- .comments-link -->
		</header><!-- .entry-header -->

	<div class="entry-content">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem nibh, viverra malesuada consectetur vitae, aliquam at risus. Etiam vel nibh lacus, et lacinia libero. Donec lectus...</p>
	</div><!-- .entry-content -->
		
	</article><!-- #post -->

<div class="blog-dotted-line"></div>
<div class="blog-dotted-line"></div>

<article id="post" class="post category-uncategorized">
		<div class="img-wrap">
			<img src="holder.js/325x225">
		</div>
		<header class="entry-header">
			<h1 class="blog-title">
				<a href="" title="Permalink to Test Two" rel="bookmark">Test Two</a>
			</h1>
			<p class="entry-meta">
				Posted by <a class="brand" href="#">mchavezi</a>
				<span class="blog-meta-spacing">Wednesday, January 23, 2013</span>
			</p>
		<div class="comments-link">
			<a href="" title="Comment on Test Two">1 Reply</a>				
		</div><!-- .comments-link -->
		</header><!-- .entry-header -->

	<div class="entry-content">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem nibh, viverra malesuada consectetur vitae, aliquam at risus. Etiam vel nibh lacus, et lacinia libero. Donec lectus...</p>
	</div><!-- .entry-content -->
		
	</article><!-- #post -->

<div class="blog-dotted-line"></div>
<div class="blog-dotted-line"></div>
				
		
		</div><!-- #content -->
</div>

<div id="secondary" class="sidebar widget-area" role="complementary">
			<aside id="search" class="widget thumbnails">
				<form class="form-search">
				    <input type="text" class="input-medium search-query">
				    <button type="submit" class="btn">Search</button>
				 </form>
			</aside>

			<aside id="recent-post" class="widget widget_recent_entries">
				    <h3 class="widget-title">Recent Post</h3>
				   <ul>
				   	<li><a title="Sample Blog Post One" href="">Sample Blog Post One</a></li>
				   	<li><a title="Sample Blog Post Two" href="">Sample Blog Post Two</a></li>
				   	<li><a title="Sample Blog Post Three" href="">Sample Blog Post Three</a></li>
				   </ul>
			</aside>

			<aside id="recent-comments" class="widget widget_recent_comments">
				    <h3 class="widget-title">Recent Comments</h3>
				   <ul id="recentcomments">
				   	<li class="recentcomments"><a href="">Sample comment One</a></li>
				   	<li class="recentcomments"><a href="">Sample comment Two</a></li>
				   	<li class="recentcomments"><a href="">Sample comment Three</a></li>
				   </ul>
			</aside>

			<aside id="recent-archives" class="widget widget_archive">
				    <h3 class="widget-title">archives</h3>
				   <ul>
				   	<li><a title="May 2013" href="">May 2013</a></li>
				   	<li><a title="April 2013" href="">April 2013</a></li>
				   	<li><a title="March 2013" href="">March 2013</a></li>
				   </ul>
			</aside>

			<aside id="categories" class="widget widget_categories">
				    <h3 class="widget-title">categories</h3>
				   <ul>
				   	<li><a title="View all posts filed under Uncategorized" href="">Uncategorized</a></li>
				   	<li><a title="View all posts filed under Tutorials" href="">Tutorials</a></li>
				   	<li><a title="View all posts filed under Commentary" href="">Commentary</a></li>
				   </ul>
			</aside>
		
	</div><!-- #secondary -->
 </div><!-- #main -->