<div id="push"></div>
</div><!-- #page -->
	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-contact">
		    <div class="wrapper">
			    <div class="pull-left">
				   <p class="large">Wanna talk? <span class="brand">Call us at <a class="brand" href="tel:415-724-7935">(415) 724-7935</a></span></p>
				   <p>or email us at <a href="mailto:hello@space-rocket.com?Subject=Hello%20">
hello@space-rocket.com</a></p>
			    </div>
			   
			    <div class="pull-right">
					<!-- Button to trigger modal -->
				    <a href="#myModal" role="button" class="contact-us" data-toggle="modal"></a>
				     
				    <!-- Modal -->
				    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Lets make something awesome together</h3>
				    </div>
				    <div class="modal-body">

				  		<form class="form-horizontal">

				  		    <div class="control-group">
								<label class="control-label" for="inputEmail">Name</label>
								<div class="controls">
								<input type="text" id="inputName">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="inputEmail">Email</label>
								<div class="controls">
								<input type="text" id="inputEmail">
								</div>
							</div>

							<legend>I am interested in...</legend>
							<div class="control-group">
								<label class="control-label radio">Just saying hi
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
								</label>
								<div class="controls">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label radio">Doing a project with Space-Rocket
								<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
								</label>
								<div class="controls">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label radio">Working for Space-Rocket
								<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
								</label>
								<div class="controls">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
								<button type="submit" class="btn">Submit</button>
								</div>
							</div>
							
						</form>
				    
				    </div>
				    <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				    </div>
		    		</div><!-- End Modal -->
			    </div>
			</div>
		</div><!-- .site-contact -->

		<div class="site-info">
			<div id="footer-top"></div>
			<div class="wrapper">
				<div class="pull-left">
					<a class="logo" href="#" rel="designer"></a>
				</div>

				<div class="pull-right">
					<ul class="social">
						<li class="follow">Follow us:</li>
						<a href="http://www.space-rocket.com/feed/">
						<li class="rss"></li>
						</a>
						<a href="https://twitter.com/bigbassroller">
						<li class="twitter"></li>
						</a>
						<a href="https://www.facebook.com/pages/Space-Rocket/336962632990741">
						<li class="fb"></li>
						</a>
					</ul>
				</div>

			</div>
					<div class="creds wrapper">
						
						<a href="nodejs.org/" title="" rel="generator">Powered by Node.js</a>
						<a href="http://twitter.github.io/bootstrap/" title="Sleek, intuitive, and powerful front-end framework for faster and easier web development." rel="props">and Twitter Bootstrap</a>
						<a href="#" title="awesome web design" rel="designer">Designed and Developed by Space-Rocket</a>
					</div>

		</div><!-- .site-info -->
	</footer><!-- #colophon -->

<!-- Get your scripts on -->
<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script src="javascripts/bootstrap-transition.js"></script>
<script src="javascripts/bootstrap-alert.js"></script>
<script src="javascripts/bootstrap-modal.js"></script>
<script src="javascripts/bootstrap-dropdown.js"></script>
<script src="javascripts/bootstrap-scrollspy.js"></script>
<script src="javascripts/bootstrap-tab.js"></script>
<script src="javascripts/bootstrap-tooltip.js"></script>
<script src="javascripts/bootstrap-popover.js"></script>
<script src="javascripts/bootstrap-button.js"></script>
<script src="javascripts/bootstrap-collapse.js"></script>
<script src="javascripts/bootstrap-carousel.js"></script>
<script src="javascripts/bootstrap-typeahead.js"></script>
<script src="javascripts/bootstrap-affix.js"></script>
<script src="javascripts/holder/holder.js"></script>
<script src="javascripts/google-code-prettify/prettify.js"></script>
<script src="javascripts/application.js"></script>
<script>
      if (location.pathname == "/") {
      $("#home").addClass("current_page_item");
 } else if (location.pathname == "/home") {
      $("#home").addClass("current_page_item");     
 } else if (location.pathname == "/team") {
      $("#team").addClass("current_page_item");
 } else if (location.pathname == "/portfolio") {
      $("#portfolio").addClass("current_page_item");
 } else if (location.pathname == "/services") {
      $("#services").addClass("current_page_item");
 } else if (location.pathname == "/blog") {
      $("#blog").addClass("current_page_item");
 }
</script>
// <script>
// $("document").ready(function() {
// 	$("ul:has(li[class=twitter])").css("border", "3px solid red");
// });
// </script>
<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>